/* Configurações globais do documento, definindo a fonte padrão (Domine) e cor do texto, além de remover margens. */
body {
  font-family: "Domine", serif;
  margin: 0;
  color: #fdfdfd;
}

/* Ajuste de margem na seção principal para alinhamento do conteúdo. */
main {
  margin-left: 5em;
}
