/* Configurações globais do documento, definindo fonte padrão (Domine), cor de fundo escura, margem zero e cor do texto clara. */
body {
  font-family: 'Domine', serif;
  background: #2F2F2F;
  margin: 0;
  color: #fdfdfd;
}

/* Estilização de títulos com peso bold, cor dourada e espaçamento elegante para destaque visual. */
h1, h2, h3, h4 {
  font-weight: 700;
  color: #D4AF37; /* dourado */
  margin-bottom: 0.5em;
  letter-spacing: 0.05em; /* toque elegante */
}

/* Estilização de parágrafos com peso regular, tamanho ajustado e cor clara para boa legibilidade. */
p {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ede7e7;
  margin-bottom: 1em;
}



/* Animação fade-in para elementos, com transição suave de opacidade e deslocamento vertical. */
.fade-in {
    opacity: 0;
    transform: translateY(1em);
    transition: opacity 2s ease-out, transform 2s ease-out;
  }

  .fade-in.visible {
    opacity: 1;
    transform: translateY(1em);
  }

  /* Estilização do contêiner principal da página Sobre, com largura limitada, borda dourada, fundo preto e sombra para destaque. */
  .container-sobre {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
    font-family: 'Domine', serif;
    color: #ffffff;
    background-color: black;
    border: #D4AF37 2px solid;
    border-radius: 12px;
    box-shadow: 0 0em 10em rgba(0, 0, 0, 1.7);
    
  }
